:root {
	/* --変数名:値 となります */
	--main-position: center;
	--main-lh: 1.5;
	--main-gutter: 30px 10px;
	--sub-gutter: 20px 40px;
	--main-color: #0bd;
}

h1 {
	/* 呼び出すときはvar(--変数名); */
	margin: var(--main-gutter);
	color: var(--main-color, red);
	/* --box-colorが見つからなければ、red */
}

.sample .container {
	display: flex;
	flex-flow: row wrap;
}

.sample .container .box {
	display: block;
	margin: var(--main-gutter);
	padding: var(--sub-gutter);
	border: 2px solid #fff;
	background: var(--main-color);
	color: #fff;
}

.sample .container .box_line {
	display: block;
	margin: var(--main-gutter);
	padding: var(--sub-gutter);
	border: 2px solid var(--main-color);
	color: var(--main-color);
}
